page-add-food {

}

.searchbar {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.label{
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
}