<ion-header>
  <ion-navbar>
    <ion-title>{{meal}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!--FAB-->
  <ion-fab right bottom>
    <button ion-fab mini color="light"><ion-icon name="apps"></ion-icon></button>
    <ion-fab-list side="top">
      <button color="danger" ion-fab>
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button color="dark" ion-fab (click)="scan()">
        <ion-icon name="barcode"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-searchbar (ionInput)="onInput($event)">
  </ion-searchbar>
  <ion-toolbar no-border>
    <ion-segment color="dark" [(ngModel)]="segment">
      <ion-segment-button value="recent">RECENT</ion-segment-button>
      <ion-segment-button value="custom">CUSTOM</ion-segment-button>
      <ion-segment-button value="recipes">RECIPES</ion-segment-button>
      <ion-segment-button value="meals">MEALS</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'recent'">
      <ion-item *ngFor="let r of recentFood" >
        <ion-item-sliding>
          <ion-item details>
            <summary>{{r.title}}</summary>
            <p>{{r.keywords}}</p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="light" (click)="getSummary(r.ndbno)"><ion-icon name="options"></ion-icon></button>
            <button ion-button color="dark" (click)="addFood(r.ndbno)"><ion-icon name="add"></ion-icon></button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item>
      <ion-item *ngIf="recentFood.length == 0">
        <button ion-button (click)="searchFood(query)">Search in the USDA database</button>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'custom'">
      <ion-item *ngFor="let c of customFood">{{c}}</ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'recipes'">
      <ion-item *ngFor="let recipe of recipes">{{recipe}}</ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'meals'">
      <ion-item *ngFor="let m of meals">{{m}}</ion-item>
    </ion-list>
  </div>
</ion-content>
