<ion-item class="food-list-item" *ngFor="let r of recentFood" >
  <ion-item-sliding>
    <ion-item class="food-list-item-detail">
      <h3>{{r?.title}}</h3>
      <p>{{r?.keywords}}</p>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="dark" (click)="addFood(r.ndbno)"><ion-icon name="add"></ion-icon></button>
    </ion-item-options>
    <ion-item-options side="left">
      <button ion-button color="dark" (click)="getNutrientSummary(r.ndbno)"><ion-icon name="options"></ion-icon></button>
    </ion-item-options>
  </ion-item-sliding>
</ion-item>

<ion-item *ngIf="recentFood.length == 0">
  <button ion-button (click)="searchFood(query)">Search in the USDA database</button>
</ion-item>
