.protein {
  position:absolute;
  top: 1px;
}
.lipid {
  position:absolute;
  top: 37px;
}
.carbohydrate {
  position:absolute;
  top: 73px;
}

.toast-container{
  height: 35px
}
.protein > div > div > div{
  text-align: center;
  background-color: #32db64!important;
}
.lipid > div > div > div{
  text-align: center;
  background-color: #f53d3d!important;
}
.carbohydrate > div > div > div{
  text-align: center;
  background-color: #387ef5 !important;
}

.food-list-item > .item-inner > .input-wrapper> ion-label{
  margin-top: 0px;
}

.food-list-item-detail > .item-inner > .input-wrapper> ion-label {

  > h3 {
    text-transform: uppercase;
    font-size: small;
  }
  > p {
    font-size: x-small;
  }
}
