.search-food > .item-inner > .input-wrapper> ion-label{
  margin-top: 0px;
}

.search-food-detail > .item-inner > .input-wrapper> ion-label {
  > h3 {
    text-transform: uppercase;
    font-size: small;
  }
  > p {
    font-size: x-small;
  }
}
